div.div1{
    z-index: 1;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    width: 500px;
    height: 300px;
    position: absolute;
}
div.div2{
    z-index: 3;
    background-color: green;
    width: 250px;
    height: 250px;
    position: absolute;
    top: 10%;
    left: 125px;
}
div.div3{
    z-index: 2;
    background-color: grey;
    width: 250px;
    height: 250px;
    position: absolute;
    top: 15%;
    left: 10%;
}