ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 20%;
    background-color: #999999;
    position: fixed;
}
li a {
    text-decoration: none;
    padding: 8px 16px;
    display: block;
}
li a:hover {
    background-color: black;
    color: white;
}
li a:active {
    background-color: #33bd38;
    color: rgb(0, 0, 0);
}
li{
    border: 2px solid #dc0b0b;
}
div.lista{
    display: none;
    position: absolute;
}
div.lista:hover{
    display: block;
}

