ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 16,5;
    background-color: #999999;
    position: fixed;
    display: flex;
    flex-direction: row;
}
li a {
    text-decoration: none;
    padding: 8px 16px;
    display: inline-block;
}
li a:hover {
    background-color: black;
    color: white;
}
li a:active {
    background-color: #33bd38;
    color: rgb(0, 0, 0);
}
li{
    border: 2px solid #dc0b0b;
}
.lista{
    display: none;
    position: absolute;
}
.list:hover .lista{
    display: block;
    background-color: #999999;
    border: 2px solid #dc0b0b;
}
body{
    background-image: linear-gradient(to bottom,red, yellow);
} 
div.div1{
    width: 300px;
    background-image: linear-gradient(to right,white, black);
    position: absolute;
}
div.div2{
    width: 300px;
    background-image: linear-gradient(to right bottom,blue, purple);
    position: absolute;
    left: 20%;
}
div.div3{
    width: 300px;
    background-image: radial-gradient(yellow, green);
    position: absolute;
    left: 40%;
}
div.div4{
    width: 300px;
    background-image: linear-gradient(to left top, blue 40px, purple 60px, yellow 100px, green 50px);
    position: absolute;
    left: 60%;
}
div.div5{
    width: 300px;
    background-image: linear-gradient(to left top, yellow 50%, black 50%);
    position: absolute;
    left: 80%;
}
div.div6{
    width: 300px;
    background-image: linear-gradient(to top, yellow, 20%,green);
    position: absolute;
    top: 30%;
}
div.div7{
    width: 300px;
    background-image: linear-gradient( 270deg , yellow,green);
    position: absolute;
    top: 30%;
}
div.div8{
    width: 300px;
    background-image:
        linear-gradient(to bottom right,rgb(255, 0, 0),rgba(0,0,0,0)75%),
        linear-gradient(to right,rgba(0, 255, 0, 1),rgba(0,0,0,0) 75%),
        linear-gradient(to top left,rgba(0, 0, 255, 1), rgba(0,0,0,0) 75%);
    position: absolute;
    top: 30%;
    left: 20%;
}
div.div9{
    width: 300px;
    background-image: repeating-radial-gradient( red, yellow 10%, green 15%);
    position: absolute;
    top: 30%;
    left: 40%;
}
div.div10{
    width: 300px;
    height: 300px;
    background-image: conic-gradient( red 45deg, yellow 90deg, green 200deg, blue 270deg,black 320deg);
    position: absolute;
    border-radius: 50%;
    top: 30%;
    left: 60%;
}
div.div11{
    width: 300px;
    height: 300px;
    background-image: conic-gradient(from 90deg at 60% 45%, red 0deg 90deg, yellow 90deg 180deg, green 180deg 270deg, blue 270deg 360deg);
    position: absolute;
    border-radius: 50%;
    top: 30%;
    left: 80%;
}
div.div12{
    width: 300px;
    height: 300px;
    background-image: repeating-conic-gradient( red 10%, yellow 20%);
    position: absolute;
    box-shadow: 3px 3px 5px 12px rgba(255, 0, 0, 0.603) inset;
    border-radius: 50%;
    top: 60%;
}
div.div13{
    width: 300px;
    height: 300px;
    background-image: repeating-conic-gradient(red 0deg 10deg, blue 10deg 20deg, yellow 20deg 30deg);
    position: absolute;
    border-radius: 50%;
    top: 60%;
    left: 20%;
}

