ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 16,5;
    background-color: #999999;
    position: fixed;
    display: flex;
    flex-direction: row;
}
li a {
    text-decoration: none;
    padding: 8px 16px;
    display: inline-block;
}
li a:hover {
    background-color: black;
    color: white;
}
li a:active {
    background-color: #33bd38;
    color: rgb(0, 0, 0);
}
li{
    border: 2px solid #dc0b0b;
}
.lista{
    display: none;
    position: absolute;
}
.list:hover .lista{
    display: block;
    background-color: #999999;
    border: 2px solid #dc0b0b;
}
body{
    background-image: linear-gradient(to bottom,red, yellow);
} 
div.div1{
    width: 300px;
    background-image: linear-gradient(to right,white, black);
    position: absolute;
}
div.div2{
    width: 300px;
    background-image: linear-gradient(to right bottom,blue, purple);
    position: absolute;
    left: 20%;
}
div.div3{
    width: 300px;
    background-image: radial-gradient(yellow, green);
    position: absolute;
    left: 40%;
}
div.div4{
    width: 300px;
    background-image: linear-gradient(to left top, blue 40px, purple 60px, yellow 100px, green 50px);
    position: absolute;
    left: 60%;
}
div.div5{
    width: 300px;
    background-image: linear-gradient(to left top, yellow 50%, black 50%);
    position: absolute;
    left: 80%;
}
div.div6{
    width: 300px;
    background-image: linear-gradient(to top, yellow, 20%,green);
    position: absolute;
    top: 30%;
}
div.div7{
    width: 300px;
    background-image: linear-gradient( 270deg , yellow,green);
    position: absolute;
    top: 30%;
}
div.div8{
    width: 300px;
    background-image:
        linear-gradient(to bottom right,rgba(255, 1, 1, 1),rgba(0,0,0,0)75%),
        linear-gradient(to right,rgba(0, 255, 0, 1),rgba(0,0,0,0) 75%),
        linear-gradient(to top left,rgba(0, 0, 255, 1), rgba(0,0,0,0) 75%);
    position: absolute;
    top: 30%;
    left: 20%;
}



